
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#app {
    display: flex;
    flex: 1;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1050;
    height: 60px;
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 1040;
    padding-top: 60px;
}

.sidebar.collapsed {
    left: -250px;
}

.toggle-sidebar-btn {
    background: none;
    border: none;
    color: rgb(44, 41, 41);
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 20px;
    z-index: 1050;
}
#application_name{
    margin-left: 10px;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;
        z-index: 1000;
    }

    .sidebar.collapsed {
        left: 0;
    }

    /* .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 500;
        display: none;
    } */

    .overlay.show {
        display: block;
    }

    .flex-grow-1 {
        margin-top: 56px;
    }

    .navbar{
        height: 60px;
        width: 100%;
    }

    .toggle-sidebar-btn {
        top: 8px;
    }

    #application_name{
        margin-left: 35px;
    }
}

@media (min-width: 769px) {
    .flex-grow-1 {
        padding: 20px;
        margin-left: 250px;
        transition: margin-left 0.3s;
    }

    .sidebar.collapsed ~ .flex-grow-1 {
        margin-left: 0;
    }

    .toggle-sidebar-btn {
        top: 8px;
        margin-left: 245px;
    }

    .sidebar {
        top: 0;
    }

    .navbar{
        height: 60px;
        width: 100%;
    }
    #application_name{
        margin-left: 10px;
    }
}

#mainContent.expanded {
    margin-left: 10px;
    width: 100%;
}
